/******************************************************************
GENERAL
******************************************************************/
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
}
header {
    max-width: 100%;
    max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

#section-wrapper {
    width: 100;
}

li {
    list-style: none;
}


/******************************************************************
HEADER
******************************************************************/
nav {
    max-height: 40px;
    padding: 5px 0 10px;
    margin-bottom: 10px;
}
nav ul {
    margin: -20px 2% 0 0;
    text-align: right;
}


nav h2 {
    color: #fff;
    left: 3em;
    height: inherit;
    text-align: left;
    font-size: 1.0em;
    width: 200px;
    padding: 0;
    margin: 20px 0 0 5%;
    transition: 1s;
}

    nav h2:hover {
        text-decoration: underline;
    }

nav ul li {
    color: #fff;
    margin-left: -5px;
    display:inline;
    padding: 1px 10px 1px 10px;
    font-weight: 700;
    font-size: 0.8em;
    transition: 0.8s;
}

    nav ul li:hover {
/*
        margin-left: -5px;
        display:inline;
        padding-left: 10px;
        background-color: black;
        padding: 70px 10px 12px 10px;
        border-radius: 10px;
        margin: 0;
*/
        color: orange;
/*        text-decoration: underline;*/
    }

#selected {
/*    background-color: black;*/
    padding: 70px 10px 12px 10px;
    border-radius: 20px;
    margin: 0;
    color: orange;
}

#register-nav {
    background-color: darkslateblue;
    padding: 70px 10px 12px 10px;
    border-radius: 20px;
    margin: 0;
    color: white;
}
    #register-nav:hover {
        text-decoration: underline;
    }

/******************************************************************
SECTION-1: BANNER
******************************************************************/
#banner-home {
    background-image: url(../img/photos/background-2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    text-align: center;
    margin-bottom: 30px;
}

.middle-baby {
    font-size: 3.5em;
    font-weight: normal;
    color: white;
    margin: 155px 0 0;
    font-family: Hind, sans-serif;
    font-weight: 300;
}

.button {
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: solid 3px #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.0em;
    padding: 10px 30px 10px;
    margin: 10px 0 0 0;
    transition: 0.8s;

}

    .button:hover {
        border: solid 3px orange;
        color: orange;
/*        background-color: rgb(52, 88, 153);*/
    }


/******************************************************************
SECTION-1: ARTICLE
******************************************************************/

#article {
/*    margin-bottom: 30px;*/
}

.icon {
    height: 75px;
    width: 75px;
    padding: 5px;
    max-height: 100%;
    max-width: 100%;
/*
    min-height: 100%;
    min-width: 100%;
*/
}

#homepage-wrapper-bottom {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
}

#homepage-wrapper-bottom li {
    float: left;
    width: 25%;
    margin: 0 4.0% 0;
    background-color: #fff;
    padding-top: 15px;
    border-radius: 4px;
    border: solid 1px #E4E4E4;
    margin-bottom: 30px;
    max-height: 100%;
    max-width: 100%;
}

#homepage-wrapper-bottom h4 {
    margin-top: 0px;
    padding: 10px;
}
